.body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

#title {
    font-size: 2.3em;
    font-weight: bold;
    margin: 30px 0px 10px 0;
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

#puzzleTitle {
  margin: 0 0 40px 0;
}

#crosswordBody {
  display: block;
}

.currentClue {
  background: #A0C9F5 !important;
}

.clue-list-wrapper {
  cursor: pointer;
  list-style: inside none;
}

.clue-input-list.active,
.clue-list.active {
  border-top:2px solid #A0C9F5 !important;
}

.clueNumber.active {
  background: #A0C9F5 !important;
  border-top:2px solid #A0C9F5 !important;
}

.toolPanel {
  text-align: center;
  margin: 0 0 10px 0;
}

.toolTitle {
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.editMode {
  background-color: #99CCFF;
}

.editModeButton {
  display: inline-block;
}

.clueSectionInputs {
  overflow-y: auto;
  height: 300px;
}

.clueInput {
  height: auto !important;
  width: 100%;
}

.clueBox {
}

.clue-list {
  cursor: pointer;
  height: 30px;
}

.inputRow {
  width: 100%;
  margin: 5px 0 0 5px;
}

.answerInput {
  width: 90%;
  margin-left: 5px;
  height: 20px;
  padding-left: 5px;
}

.puzzleTitleInput {
  width: 400px;
  height: 20px;
  padding-left: 5px;
  margin-left:5px;
}

#puzzleTitle {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
}

.grid {
  margin:1em auto;
  border-collapse: collapse;
  border:3px solid #000;
}
.grid td {
    cursor:pointer;
    border:1px solid #ccc;
}

.black {
    background: #000;
}

.edit {
    background: #ffda00 !important;
}

.point {
    background: #99CCFF;
}

.cellSquare {
    width:35px; height:35px;
    position: relative;
}

.cellNumber {
  font-size: 10px;
  text-align: left;
  font-family:sans-serif;
  position: absolute;
  padding-left: 1px;
}

.cellStatus {
  font-size: 8px;
  font-family: sans-serif;
  position: absolute;
  margin-left: 25px;
  margin-top: 2px;
}

.cellValue {
  font-size: 24px;
  font-family:sans-serif;
  padding-top:3px;
  text-transform: uppercase;
  text-align: center;
}

.center-pills {
  display:inline-block;
}

.wrongGuess {
  color: red;
}

.listPill {
  border-top: none;
  margin: 0px;
}

ul {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ul > li {
    position:relative; /* Create a positioning context */
    margin:0 0 10px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:1px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #303030;
    background:#ffffff;
}
ul > li > span {
    content:value(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #303030;
    color:#fff;
    background:#303030;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
li ul {margin-top:6px;}
ul ul li:last-child {margin-bottom:0;}
